.address-container {
    display: flex;
    align-items: center;
  }
  
  .address {
    margin-right: 10px;
  }
  
  .copy-button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
  }
  
  .copy-button img {
    height: 10px; /* 根据需求调整图片高度 */
    width: 10px;
    vertical-align: middle;
  }