.ant-select-selection-item {
    font-size: 14px; 
  }

  .ant-select-item-option-content {
    font-size: 14px;
  }

  /* .ant-select-selection-overflow-item{
    width: 120px;
  } */

  .ant-select-selection-item {
    padding-left: 16px !important;
    padding-right: 20px !important;
  }

.ant-select-selector {
    background-color: #171822 !important; 
  }

.ant-input-number {
    background-color: #171822;
    font-size: 14px;
}

   .ant-select-selection-search {
    background-color: #171822;
  }


  /* .ant-select-dropdown {
    border: 1px solid #00a7efab !important;
    background-color: red !important;
    background: red !important;
}

.ant-select-dropdown-menu-item{
    background-color: red !important;
} */
