@import './assets/normalize.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-size: 4px;
  background-color: #010101;
  color: white;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  ::-webkit-scrollbar {
    display: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
}

body {
  font-size: 4rem;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  transition: all 0.5s;
}

.card:hover {
  transform: scale(1.05, 1.05);
  transition: all 0.4s;
  -webkit-transform: perspective(800px) rotateX(10deg)
    /* box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22); */
}


@layer components {
  /* @screen xs {
    .test-class {
      @apply flex list-none justify-between pe-10 ps-10 text-center text-12 c-white
    }
  } */

  /*
  sm:640
  md:768
  lg:1024
  xl:1280
  2xl:1536
  */
}

.body-width {
  @apply w-4/5
}

.nav-logo {
  @apply w200 flex items-center text-center
}

.nav-bar {
  @apply hidden
}

.nav-bar-item {
  @apply ml-10
}

.nav-bar-dropdown {
  @apply inline pl-10
}

.nav-bar-dropdown-item {
  @apply flex justify-end c-white hover:c-#5ec1d0 text-13 h25 items-center
}

.network-name {
  @apply hidden
}

.connect-wallet {
  @apply h30 w120 rounded-30 text-12 primary-btn
}

.user-address {
  @apply hidden
}

.banner {
  @apply h120
}

.personal-banner {
  @apply h200 w-full b-rd-6 bg-cover bg-no-repeat flex justify-center
}

.page-title-box {
  @apply inline
}

.page-title {
  @apply text-20 c-white
}

.show-more {
  @apply text-14 c-white
}

.radio-group {
  @apply b-rd-6
}

.radio-btn-all {
  @apply h30 w60 text-center items-center text-12
}

.radio-btn-other {
  @apply h30 items-center text-12 truncate
}

.user-chain-logo {
  @apply h36 flex items-center border-[#7189f7] rounded-full bg-transparent text-14 c-purple border-0
}

.user-basic-box {
  @apply box-border pt-60
}

.user-basic-info {
  @apply flex
}

.point-box {
  @apply inline
}

.loan-detail-info {
  @apply inline
}

.loan-detail-title {
  @apply text-22 font-bold
}

.loan-detail-status {
  @apply text-14 rounded-6 box-border h-35 flex items-center justify-center p-10
}

.loan-detail-btn {
  @apply mr-8 h40 w-100 b-rd-20 primary-btn
}

.loan-detail-option {
  @apply grid grid-cols-2 gap-4
}

.loan-detail-option-item {
  @apply mx-5 my-10 h-60 w-350 list-none border-2 rounded-10 border-solid border-#2d2f3d bg-#171822
}

.loan-detail-option-title {
  @apply h30 flex items-center justify-center text-12 c-#D1D1D1
}

.loan-detail-option-content {
  @apply flex justify-center text-left text-14 font-semibold
}

.balance-chart {
  @apply w-full h-500 mb-20
}

.balance-info {
  @apply
}

.token-info-box {
  @apply grid grid-cols-1 gap-20
}

.token-info-item {
  @apply rounded-18 h-150 border-2 border-solid border-#2d2f3d p-10 flex flex-col
}

/* @apply border-2 b-rd-20 bg-cover bg-no-repeat h-180 border-solid border-#2d2f3d */

@screen sm {
  .banner {
    @apply h180
  }

}

@screen md {
  .nav-logo {
    @apply w160 flex items-center text-center
  }

  .connect-wallet {
    @apply h35 w160 rounded-30 text-14 primary-btn
  }

  .banner {
    @apply h250
  }

  .page-title-box {
    @apply flex justify-between
  }

  .user-basic-box {
    @apply box-border pt-60 flex justify-between
  }

  .user-basic-info {
    @apply inline
  }

  .point-box {
    @apply grid grid-cols-2 gap-4
  }

  .loan-detail-info {
    @apply flex
  }

  .loan-detail-title {
    @apply text-24 font-bold
  }

  .loan-detail-option {
    @apply grid grid-cols-2 gap-4
  }

  .loan-detail-option-item {
    @apply mx-5 my-10 w-280 list-none border-2 rounded-10 border-solid p-10 border-#2d2f3d bg-#171822
  }

  .loan-detail-option-title {
    @apply loan-detail-option-title text-14
  }

  .loan-detail-option-content {
    @apply loan-detail-option-content text-16
  }

  .balance-chart {
    @apply w-1/2 h-500 mb-20
  }

  .token-info-box {
    @apply grid grid-cols-2 gap-20
  }

  

}

@screen lg {
  .body-width {
    @apply w-2/3
  }

  .nav-bar {
    @apply flex list-none justify-between pe-20 ps-20 text-center text-13 c-white
  }

  .nav-bar-dropdown {
    @apply hidden
  }

  .user-chain-logo {
    @apply user-chain-logo border-2
  }

  .network-name {
    @apply inline truncate
  }

  .user-address {
    @apply inline
  }

  .banner {
    @apply h280
  }

  .personal-banner {
    @apply personal-banner h300
  }

  .radio-btn-all {
    @apply h35 w100 text-center items-center text-14
  }

  .radio-btn-other {
    @apply h35 items-center text-14
  }

  .user-basic-box {
    @apply user-basic-box felx
  }

  .loan-detail-title {
    @apply text-28 font-bold w-auto
  }

  .loan-detail-option {
    @apply grid grid-cols-4 gap-10 col-auto
  }

  .loan-detail-option-item {
    @apply loan-detail-option-item w-140
  }

  .loan-detail-option-title {
    @apply loan-detail-option-title text-16
  }

  .loan-detail-option-content {
    @apply loan-detail-option-content text-18
  }

  .token-info-box {
    @apply grid grid-cols-3 gap-y-10 gap-x-10
  }

  .token-info-item {
    @apply rounded-18 h-130 border-2 border-solid border-#2d2f3d p-8
  }
}

@screen xl {
  .page-title {
    @apply text-24 c-white
  }

  .show-more {
    @apply text-18 c-white
  }

  .personal-banner {
    @apply personal-banner h350
  }

  .loan-detail-option {
    @apply grid grid-cols-6 gap-4
  }

  .loan-detail-option-item {
    @apply loan-detail-option-item w-110
  }

  .loan-detail-title {
    @apply text-32 font-bold
  }

  .point-box {
    @apply grid grid-cols-4 gap-4
  }

  .token-info-box {
    @apply grid grid-cols-4 gap-6 gap-y-10
  }

  .token-info-item {
    @apply rounded-18 h-150 border-2 border-solid border-#2d2f3d p-10
  }

}

@screen 2xl {
  .nav-bar-item {
    @apply ml-20
  }

  .loan-detail-option {
    @apply flex justify-around
  }

  .loan-detail-option-item {
    @apply loan-detail-option-item w-130
  }

  .page-title {
    @apply text-30 c-white
  }

  .show-more {
    @apply text-20 c-white
  }

}